<div class="d-flex align-items-center justify-content-center">
<h1>All Product</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <a href="/product/<%= product.id %>">
      	<%= product.name %>
      </a>
    </li>
  <% end %>
</ul>
</div>
