// Place all the styles related to the adresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  padding-top: 5rem;
  background-color: #dc3545;
  padding-left:15rem;
}
#new_user {
  display: block;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
